<section id="map" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <a class="btn btn-primary" href="/tournaments/new" role="button">Create a New Tournament</a>
      </div>
    </div>
  </div>
</section>
