    <!-- Leaderboard Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h3>Leaderboard</h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Rider</th>
                  <th scope="col">ELO Rating</th>
                  <th scope="col">Last 30 days</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Adam</td>
                  <td>1000</td>
                  <td><i class="fas fa-arrow-up"></i> 2</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Bryan</td>
                  <td>900</td>
                  <td><i class="fas fa-arrow-down"></i> 1</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Kenneth</td>
                  <td>800</td>
                  <td><i class="fas fa-arrow-down"></i> 1</td>
                </tr>
                <tr>
                  <th scope="row">45</th>
                  <td>You</td>
                  <td>10</td>
                  <td> - </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <section id="map" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Map Coming Soon</h2>
          </div>
        </div>
      </div>
    </section>
