<%= form_tag :segments, method: :create, class: "form-inline" do %>
  <div class="form-group search-field">
    <%= text_field_tag :id, "Add Strava Segment", class: "form-control" %>
    <%= submit_tag "Add Segment", class: "btn btn-primary" %>
  </div>
<% end %>
