---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/229781?access_token=<STRAVA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"bab95c35232883af6f409c5531a35e89"
      X-Ratelimit-Usage:
      - '1,1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":229781,"resource_state":3,"name":"Hawk Hill","activity_type":"Ride","distance":2684.82,"average_grade":5.7,"maximum_grade":14.2,"elevation_high":245.3,"elevation_low":92.4,"start_latlng":[37.8331119,-122.4834356],"end_latlng":[37.8280722,-122.4981393],"start_latitude":37.8331119,"start_longitude":-122.4834356,"end_latitude":37.8280722,"end_longitude":-122.4981393,"climb_category":1,"city":"San
        Francisco","state":"CA","country":"United States","private":false,"hazardous":false,"starred":false,"created_at":"2009-09-21T20:29:41Z","updated_at":"2018-07-18T08:21:56Z","total_elevation_gain":155.733,"map":{"id":"s229781","polyline":"}g|eFnpqjVl@En@Md@HbAd@d@^h@Xx@VbARjBDh@OPQf@w@d@k@XKXDFPH\\EbGT`AV`@v@|@NTNb@?XOb@cAxAWLuE@eAFMBoAv@eBt@q@b@}@tAeAt@i@dAC`AFZj@dB?~@[h@MbAVn@b@b@\\d@Eh@Qb@_@d@eB|@c@h@WfBK|AMpA?VF\\\\t@f@t@h@j@|@b@hCb@b@XTd@Bl@GtA?jAL`ALp@Tr@RXd@Rx@Pn@^Zh@Tx@Zf@`@FTCzDy@f@Yx@m@n@Op@VJr@","resource_state":3},"effort_count":338841,"athlete_count":33191,"star_count":2668,"athlete_segment_stats":{"pr_elapsed_time":null,"pr_date":null,"effort_count":0}}'
  recorded_at: Wed, 18 Jul 2018 21:04:32 GMT
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/229781/leaderboard?access_token=<STRAVA_API_KEY>&page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"130215330dc110962c1edd98e802e8c9"
      X-Ratelimit-Usage:
      - '2,2'
    body:
      encoding: ASCII-8BIT
      string: '{"effort_count":33194,"entry_count":33194,"kom_type":"kom","entries":[{"athlete_name":"Mhil
        P.","elapsed_time":346,"moving_time":346,"start_date":"2016-02-11T15:37:43Z","start_date_local":"2016-02-11T07:37:43Z","rank":1}]}'
  recorded_at: Wed, 18 Jul 2018 21:04:35 GMT
recorded_with: VCR 4.0.0
