---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/1470688/all_efforts?access_token=<STRAVA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"59dad4498d953055f913c0c4db7787bb"
      X-Ratelimit-Usage:
      - '1,2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":33379171375,"resource_state":2,"name":"Northgate to Summit from
        Castle Rock","activity":{"id":1346208731,"resource_state":1},"athlete":{"id":8722083,"resource_state":1},"elapsed_time":8218,"moving_time":5912,"start_date":"2018-01-07T18:56:22Z","start_date_local":"2018-01-07T10:56:22Z","distance":19834.7,"start_index":2008,"end_index":3286,"average_cadence":67.8,"device_watts":false,"average_watts":166.7,"average_heartrate":172.2,"max_heartrate":191.0,"segment":{"id":1470688,"resource_state":2,"name":"Northgate
        to Summit from Castle Rock","activity_type":"Ride","distance":19862.9,"average_grade":5.4,"maximum_grade":17.0,"elevation_high":1120.0,"elevation_low":38.4,"start_latlng":[37.913535470143,-122.006882568821],"end_latlng":[37.8816000837833,-121.914782887325],"start_latitude":37.913535470143,"start_longitude":-122.006882568821,"end_latitude":37.8816000837833,"end_longitude":-121.914782887325,"climb_category":5,"city":"Walnut
        Creek","state":"CA","country":"United States","private":false,"hazardous":false,"starred":false},"kom_rank":null,"pr_rank":1,"achievements":[{"type_id":3,"type":"pr","rank":1}]}]'
  recorded_at: Tue, 24 Jul 2018 16:38:52 GMT
recorded_with: VCR 4.0.0
