---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/segments/302/all_efforts?access_token=4675
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Authorization Error","errors":[{"resource":"Application","field":"","code":"invalid"}]}'
  recorded_at: Tue, 29 May 2018 14:39:22 GMT
recorded_with: VCR 4.0.0
